h1
{
	font-size: 54px;
	font-family: Merienda;
	font-weight: 700;

	color: #3a5795;

}
.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}



.centering {
  float:none;
  margin:0 auto;
}